<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="TblName" value="buff_work"/>
  </appSettings>
  <connectionStrings>
    <add name="cnnStr" connectionString="Data Source=Server;Initial Catalog=alarm_v2;Integrated Security=True" providerName="Syste.Data.SqlClient"/>
    <add name="cnnStrno" connectionString="Data Source=Server;Initial Catalog=no;Integrated Security=True" providerName="Syste.Data.SqlClient"/>
  </connectionStrings>

</configuration>
