<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ExistTbl" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="cnnStr" connectionString="Data Source=DESKTOP-A7LI3L1;Initial Catalog=alarm_v2;Integrated Security=True" providerName="Syste.Data.SqlClient"/>
    <add name="cnnStrno" connectionString="Data Source=DESKTOP-A7LI3L1;Initial Catalog=no;Integrated Security=True" providerName="Syste.Data.SqlClient"/>
  </connectionStrings>

</configuration>